<!DOCTYPE html>
<html lang="en">
<%- include partials/_head %>
<%- include partials/_header %>
<body>
  <section id="confirmation-page">
    <div class="confirmation-page-container">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <h2>We have received your order!</h2>
      <div class="order-details">
        <div class="order-number">
          Order #: <a href="/orders/<%= orderNumber %>"><%= orderNumber %></a>
        </div>
        <div class="phone-number-given">
          A confirmation text has been sent to <%= mobile %>
        </div>
        <div class="total-price">
          Your total is $<%= (total / 100).toFixed(2) %>
        </div>
      </div>
      <div class="google-map">
        
      </div>
    </div>
  </section>
</body>
<%- include partials/_footer %>
</html>
